#tabs
	a#tab-organizations.tab.selected(href='#') Organizations
	a#tab-contacts.tab(href='#') Contacts

#content.body
	#organizations-wrapper.wrapper
		form(class='main', method='post', id='organization-form', onsubmit='return false;')
			input(type='text', id='organization-title', name='title', placeholder='organization')
			input(type='submit', name='submit', value='add')

		#organizations.section

	#contacts-wrapper.wrapper(style='display:none')
		form(class='main', method='post', id='contact-form', onsubmit='return false;')
			input(type='text', id='contact-name', name='name', placeholder='contact')
			input(type='submit', name='submit', value='add')

		#contacts.section


script(type='text/template', id='tmpl-organization-item')
	|	<a href='/organizations/<%= _id %>'><%= title %></a>
	|	<div id='contacts-<%= _id %>' class='sub-contact' style='border:1pt #fff solid;display:inline;text-align:right;padding:5px 0px 5px 5px'><a class='button expandable' href='#'>contacts</a></div>
	|	<a class='remove button' href='#'>remove</a>

script(type='text/template', id='tmpl-contact-item')
	|	<a href='/contacts/<%= _id %>'><%= (name_first || '') + ' ' + (typeof name_last != 'undefined' ? name_last : '') %></a>
	|	<a class='remove button' href='#'>remove</a>

script(type='text/template', id='tmpl-sub-contact')
	|	<%= name_first + ' ' + name_last %>

script(type='text/template', id='tmpl-sub-contact-form')
	|	<form id='subform' class='submain' action="#" method="post" accept-charset="utf-8" style='position:absolute;left:0px;top:0px' onsubmit='return false;'>
	|		<input type="text" name="name" value="" placeholder="contact"/>
	|	</form>	
