#tabs
	a#tab-organizations.tab.selected(href='#') Organizations
	a#tab-contacts.tab(href='#') Contacts

#content.body
	#organizations-wrapper.wrapper
		form(method='post', id='organization-form', onsubmit='return false;')
			input(type='text', id='organization-title', name='title', placeholder='organization')
			input(type='text', id='contact-name', name='name', placeholder='contact')
			input(type='submit', name='submit', value='add')

		#organizations

	#contacts-wrapper.wrapper(style='display:none')
		form(method='post', id='contact-form', onsubmit='return false;')
			input(type='text', id='contact-name-full', name='name', placeholder='contact')
			input(type='text', id='contact-organization-title', name='title', placeholder='organization')
			input(type='submit', name='submit', value='add')

		#contacts


script(type='text/template', id='tmpl-organization-item')
	|	<a href='/organizations/<%= _id %>'><%= title %></a>
	|	<%= typeof contacts[0] != 'undefined' ? (contacts[0].name_first || '') + ' ' + (contacts[0].name_last || '') : '' %>
	|	<a class='remove' href='#'>remove</a>

script(type='text/template', id='tmpl-contact-item')
	|	<a href='/contacts/<%= _id %>'><%= (name_first || '') + ' ' + (typeof name_last != 'undefined' ? name_last : '') %></a>
	|	<% if ( organization ) {
	|		print(organization.title)
	| 	} %>
	|	<a class='remove' href='#'>remove</a>
