h1 #{title} demo

#organization-wrapper
	header Organizations

	form(method='post', id='organization-form', onsubmit='return false;')
		input(type='text', id='organization-title', name='title', placeholder='organization')
		input(type='text', id='contact-name', name='name', placeholder='contact')
		input(type='submit', name='submit', value='add')

	#organizations

	script(type='text/template', id='tmpl-organization-item')
		|	<a href='/organizations/<%= _id %>'><%= title %></a>
		|	<%= contacts[0].name_first + ' ' + contacts[0].name_last %>
		|	<a class='remove' href='#'>remove</a>
