!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/lib.js')
    script(src='/javascripts/organization.js')
    script(src='/javascripts/contact.js')

    link(rel='stylesheet', href='/javascripts/tests/qunit.css')
    script(src='/javascripts/tests/qunit.js')
    script(src='/javascripts/tests/tests.js')
  body
    h1#qunit-header QUnit Test Suite
    h2#qunit-banner
    #qunit-testrunner-toolbar
    h2#qunit-userAgent
    ol#qunit-tests test markup, hidden
    #qunit-fixture

    #body-wrapper!= body
