body
	font-family: Verdana
	font-size: 10pt

header
	color: #666
	font-size: 12pt
	font-weight: bold
	margin-bottom: 5px

a
	margin-left: 5px
	color: #666
	text-decoration: none
	&.selected
		font-weight: bold

form
	padding: 10px
	background-color: #ddd
	input
		font-size: 16pt
		margin-right: 10px

.button
	font-size: 14pt
	padding: 5px
	margin-left: 0px
	border: 1pt #ddd solid
	background-color: #ddd
	text-align: right

.section
	div
		font-size: 22pt
		margin: 5px 0px 10px 0px

.tab
	display: inline
	border: 1pt #666 solid
	border-bottom-style: none
	padding: 8px
	font-size: 12pt

.body
	border: 1pt #666
	border-top-style: solid
	margin-top: 8px

#tabs
	margin-top: 20px
