body
	font-family: Verdana
	font-size: 10pt

header
	color: #666
	font-size: 12pt
	font-weight: bold
	margin-bottom: 5px

a
	margin-left: 5px
	color: #666
	text-decoration: none
	&.selected
		font-weight: bold

.tab
	display: inline
	border: 1pt #666 solid
	border-bottom-style: none
	padding: 5px

.body
	padding: 5px
	border: 1pt #666
	border-top-style: solid
	margin-top: 5px
